section#artistic.bg-pp-ltblue

	h2.section-title Artistic

	p Artistic programs at the Playwrights’ Center champion playwrights and new-play-producing theaters at every point in their process: Core Writer and Fellowships, supporting playwrights through play development and financial support; Connections, building and fostering relationships between playwrights and theaters; and Membership, online and onsite resources serving more than 1,500 playwrights worldwide.

section#fellows.writer-list.bg-grad-five

	h2.section-title 2014-15 Fellows

	p These 14 artists received $225,000 in direct financial support through the Center&#039;s 5 fellowship programs, funded by the Jerome and McKnight foundations. 

	.grid-5
		for fellow in fellows
			a(class="grid-item", href="#{fellow.url}", target="_blank") 
				.img-wrapper
					img(src='img/fellows/#{fellow.img}')
					span.img-screen
						span.caption #{fellow.first} #{fellow.last}



section.bg-grad-two.spotlight

	h3.section-title Fellowship Spotlight

	.has-borders 

		header.circle
			.headshot
				img(src="img/fellows/harrison-david-rivers.jpg")
			.name
				h4 Harrison David Rivers
				p Jerome Fellow

		p <strong>Harrison David Rivers</strong> says he was thrilled when Playwrights’ Center Producing Artistic Director Jeremy B. Cohen called him with the news he’d been awarded a 2014-15 Many Voices Fellowship. “Thrilled, but not sold.” He had a good job in New York, “a great apartment, a great roommate.” He thought about declining, “until Jeremy said something that changed everything: ‘We really want you here.’ <em>We really want you here</em>: it’s funny how rarely we hear those words—as human beings, let alone as playwrights.” He accepted the fellowship and came to Minnesota. “It was only supposed to be a year,” Harrison says, “but then I fell in love. I fell in love with the Green Line, and the baked potato pizza at Pizza Luce, and ‘Minnesota Nice.’ I fell in love with the theater community, with the talent and bravery and variety showcased on every stage, and with the accessibility of the cities’ artistic leaders. I fell in love with the Playwrights’ Center staff, with feeling taken care of and supported and encouraged. I fell in love with being wanted.” Harrison decided to stay in Minnesota, applying for and receiving the McKnight Fellowship in Playwriting for 2015-16. “The Playwrights’ Center changed my life,” he says.

section#core-writers.writer-list.bg-pp-blue

	h2.section-title 2014-15 Core Writers

	p These 25 playwrights received a fully funded play development workshop as part of their 3-year terms as <a href="https://pwcenter.org/programs/core-writer-program" target="_blank">Core Writers</a>.

	.grid-5
		for fellow in coreWriters
			a(class="grid-item", href="#{fellow.url}", target="_blank") 
				.img-wrapper
					img(src='img/core-writers/#{fellow.img}')
					span.img-screen
						span.caption #{fellow.first} #{fellow.last}


section.bg-pp-purple.stat-important

	p Fellows and Core Writers are selected by diverse national panels of artists and theater leaders.


section.bg-grad-one.spotlight

	h3.section-title Core Writer Spotlight

	.has-borders 

		header.circle
			.headshot
				img(src="img/core-writers/jenny-connell-davis.jpg")
			.name
				h4 Jenny Connell Davis
				p Core Writer

		p <strong>Jenny Connell Davis</strong> is a 2013-2016 Core Writer at the Playwrights&#039; Center. During her first Core Writer year, her play <em>Goddess of Mercy</em> was part of the Ruth Easton New Play Series. Reflecting on the experience, she recalls: “I had terrific discussions with my Minneapolis actors, designer, director, and dramaturg; the play changed a great deal over a few days. But the crucial element was the audience&mdash;nothing taught me more about the play and where it stood than the post-show discussion, where I got to hear an audience respond to what they’d just seen.” During her second workshop in 2014, Jenny brought her eleven-month-old son, Gabriel, with her to Minneapolis to work on her play <em>End of Shift</em>. “I think having my son present during the construction of a piece that is so much about ‘lost boys’ really kept me writing from an empathetic place.” Jenny’s play <em>Scientific Method</em> is part of the 2015-16 Ruth Easton New Play Series.


section.bg-pp-ltblue.stat-important

	p In every workshop that takes place at the Playwrights’ Center, the playwright is the highest-paid artist in the room.


section.bg-pp-blue.stat-important

	p In total, the Center supported <strong>66 new play workshops and readings</strong> that employed <strong>164 actors</strong>, <strong>28 directors</strong>, <strong>16 dramaturgs</strong>, <strong>8 designers</strong>, <strong>4 musicians</strong>, and <strong>1 composer</strong>. 


section.bg-grad-seven.spotlight

	h3.section-title Collaborative Artist Spotlight

	.has-borders 

		header.rect
			.name
				h4 Taylor Mac
				p Actor
			.headshot
				img(src="img/roz-and-ray.jpg")
			

		p <strong>Taylor Mac</strong> is a writer and performer who received the McKnight National Residency and Commission in 2010. When Karen Hartman received the award for 2014-15, she knew she wanted to bring Taylor to the Center as a collaborating actor on her commissioned play, <em>Roz and Ray</em>. Karen and Taylor have been friends for over ten years but have not been able to work together as often as they would like. “Working with her again feels like home,” Taylor says. The team-up happened at a Theatre Communications Group conference panel, when Taylor listed Karen as one of his playwright friends who he would like to collaborate with. “When I got off the stage,” he says, “She said she had a part for me. It really was that simple.” He has no trouble putting the playwright role aside to act in another writer’s workshop. “It’s a relief, and it’s rejuvenating to play in someone else’s yard.”

section.bg-pp-red

	p As much as writers love developing work in our theater, let’s be clear: playwrights don’t write scripts for the Playwrights’ Center workshop table&mdash;they write scripts for the stage. A playwright’s job doesn’t end when the workshop ends, so neither does ours. We seek individualized ways of connecting playwrights and their work to producing theaters and universities, supporting both playwrights and theaters in creating long-term, sustainable relationships. During the 2014-15 season, there were 30 productions of Playwrights’ Center-developed plays, at theaters from Minneapolis to London.

	a(href="https://pwcenter.org/sites/default/files/PWC-developed-plays-2014-15.pdf" target="_blank")

		img(src="img/map.jpg")


section.bg-grad-three.spotlight

	h3.section-title Visiting Artistic Leader Spotlight

	.has-borders 

		header.circle
			.headshot
				img(src="img/oanh-nguyen.jpg")
			.name
				h4 Oanh Nguyen

		p As part of the Visiting Artistic Leaders program, the Center brings in artistic directors from around the country to foster deeper connections between playwrights and producers. One of the artistic directors last season was <strong>Oanh Nguyen</strong>, who joined us from the Chance Theater in California to see Qui Nguyen’s reading of <em>Dust</em>. Oanh’s first time at the Center was an opportunity to learn about the work we do and connect with Qui and playwrights in residence here. There were two readings of Dust; Oanh saw the first reading and then sat in on the rehearsal the next day to better understand Qui’s goals and next steps for the play. Qui and Oanh had known each other before, but had few opportunities to connect. This experience deepened their relationship. “I was so grateful to be there for Qui’s beautiful, funny, and fragile new post-war play about hope, family, and self-worth,” Oanh said.


section.bg-pp-purple

	p In 2014-15, the <a href="https://pwcenter.org/ruth-easton-series" target="_blank">Ruth Easton New Play Series</a> expanded from one reading of each play to two to accommodate the previous season's standing-room-only crowds. <strong>455</strong> audience members attended the 2014-15 series, <strong>354</strong> attended the <a href="https://pwcenter.org/playlabs" target="_blank">PlayLabs new play festival</a> in October, and <strong>60</strong> attended our Taste of the Season season kick-off event. Adding in other readings and events at the Center, a total of <strong>1,178</strong> audience members joined us during the season.


section.bg-grad-four.spotlight

	h3.section-title Audience Spotlight

	.has-borders 

		header.circle
			.headshot
				img(src="http://placehold.it/500x500/ffffff/58595b")
			.name
				h4 Harriet Horwitz

		p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. 


section.bg-pp-ltblue.milestone

	h3.section-title Milestone

	h2.section-title The Regulars

	p With support from the Andrew W. Mellon Foundation, Producing Artistic Director Jeremy Cohen and Associate Artistic Director Hayley Finn spent the last two years traveling across the country and beyond to meet with artistic leaders and build a network of new-play-producing theaters interested in engaging with the Playwrights’ Center and our writers&mdash;a group we call the Regulars. This initiative officially launched in summer 2015, and nearly 80 theaters have joined the Regulars so far, advancing our mission to not just develop plays, but to help them find homes on stage.


section.bg-grad-one.spotlight

	h3.section-title Partnership Spotlight

	.has-borders 

		header.rect
			.name
				h4 Stephanie Fleischmann
				p Affiliated Writer
			.headshot
				img(src="img/stephanie-fleischmann.jpg")
			
		p <strong>Stephanie Fleischmann</strong> developed the musical <em>The Secret Lives of Coats</em> when she was a Core Writer at the Playwrights’ Center. She is now an Affiliated Writer, an initiative that keeps former Core Writers and fellows connected to the Center. In this capacity, she returned in 2014 to workshop <em>Coats</em> in partnership with <a href="http://www.redeyetheater.org/" target="_blank">Red Eye Theater</a>, completing the final elements with composer Christina Campanella before its Red Eye premiere. Stephanie says, “Not only did two of <em>The Secret Lives of Coats</em>’ most moving songs get written during that workshop (in response to the discoveries we made in the room with singers, a music director, and our inimitable director, Hayley Finn), not only did the workshop give the performers an invaluable head start on learning the piece and becoming a true ensemble, but also (and most importantly) the workshop was instrumental in getting the <em>The Secret Lives of Coats</em> to where it needed to be in terms of our understanding of its shape, its momentum, its rhythms— that invisible dimension where music and text come together, readying it for a hugely satisfying dive into production mode.”
